.Menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin-left: 0.1em;
}
.Menu > li {
  padding: 0 0.5em;
}

.Menu > li a {
  text-decoration: none;
  box-sizing: border-box;
}
.Menu > li:hover {
  text-decoration: none;
  background: #dddddd;
  cursor: pointer;
  border-radius: 1em;
}
